:root {
  --main-font: "neue_montrealbold";
  --second-font: "neue_montrealregular";
  --paragraph-font: "neue_montreallight";
  --paragraph-font-italic: "neue_montreallight_italic";
  --main-text-color: #aae0e8;
  --paragraph-color: #c6cbcf;
  --bg-color: #231f20;
}
body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
}
nav {
  padding: 20px;
}
nav li {
  display: inline;
  font-family: var(--paragraph-font);
  font-size: 14px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #ffc007;
  padding-left: 8px;
  transition: all 100ms ease-in-out;
}
a:hover,
nav li.active a,
.second-title,
.head-title,
.list-markers {
  color: var(--main-text-color);
}
.img-hover:hover {
  transform: scale(2.8);
}
.img-hover {
  transition: transform 0.4s;
}
.paragraph {
  font-family: var(--paragraph-font-italic);
}
.content {
  max-width: 80%;
}
.hero {
  padding-left: 48px;
}
.titles {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.header {
  font-size: 52px;
  color: var(--bg-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-text-color);
}

.second-title {
  font-size: 30px;
}
.head-title {
  font-size: 20px;
}
.second-title,
.head-title,
.paragraph-title {
  font-family: var(--second-font);
}
.paragraph-title,
.paragraph-text,
.paragraph {
  color: var(--paragraph-color);
  font-size: 16px;
}

.paragraph-text {
  font-family: var(--paragraph-font);
}
.border-box {
  border-bottom: 1px solid #aae0e8;
}
.photo-image {
  max-width: 250px;
}
.highlighted-text {
  font-size: 16.7px;
}
@media (max-width: 920px) {
  .photo-image {
    max-width: 200px;
  }
  .content {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .img-hover:hover {
    transform: none;
  }
  .header,
  .second-title {
    text-align: center;
  }
  .header {
    font-size: 30px;
  }
  .second-title {
    font-size: 16px;
  }
  .hero {
    padding-left: 5px;
  }
  .paragraph-text {
    padding-left: 0;
    margin-bottom: 0;
  }
  .titles {
    padding-top: 10px !important;
  }
  nav {
    padding: 10px 0;
  }
  nav ul,
  nav li {
    padding-left: 10px;
  }
}
