/* font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
:root { */
:root {
  --title-font: "Bebas Neue", cursive;
  --second-title-font: "Poppins", sans-serif;
  --title-font-color: #6c6c6cb0;
  --bg-color-left: #171717;
  --bg-color-right: rgba(254, 212, 57, 1);
}

.bg-left {
  background-color: var(--bg-color-left);
}

.title-top,
.title-top-icon {
  font-family: var(--title-font);
  color: var(--title-font-color);
  font-size: 190px;
  letter-spacing: 35px;
}
.title-bottom-right {
  letter-spacing: 0;
}
.title-top-right,
.title-top-icon {
  margin-top: 75px;
  padding-bottom: 0;
}
.title-top-right,
.title-top-left,
.title-bottom-right {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-top-left {
  padding-bottom: 30px;
}
.right-text-block {
  padding-left: 60px;
  font-family: var(--second-title-font);
}
.bg-right {
  background-color: var(--bg-color-right);
  padding: 20px 30px;
  border-radius: 18px 0px 0px 18px;
}
.second-title-left {
  font-size: 90px;
  text-transform: uppercase;
  color: #6c6c6c5f;
}

.my-information {
  font-size: 16px;
}
.welcome-text {
  font-size: 20px;
}

.paragraph-padding {
  padding-top: 20px;
}

.icon {
  text-align: center;
  padding: 10px 20px;
  font-size: 66px;
}

@media (max-width: 992px) {
  .title-top,
  .title-top-icon {
    letter-spacing: 0px;
    margin-bottom: 0%;
    font-size: 110px;
  }

  .second-title-left {
    margin-bottom: 24px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .title-top,
  .title-top-icon {
    margin-top: 0;
  }
}
